<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClinicMate</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'appointments/styles.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
        <img src="{% static 'images/Logo.png' %}" alt="E-Channeling Logo">
    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link btn btn-primary text-white" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>

            </ul>
        </div>
</nav>

    <!-- Bootstrap Carousel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="carousel-video-wrapper">
                        <video class="d-block w-100" autoplay muted loop>
                            <source src="{% static 'Videos/WelcomeTransition.mp4' %}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-video-wrapper">
                        <video class="d-block w-100" autoplay muted loop>
                            <source src="{% static 'Videos/DiscountTransition.mp4' %}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-video-wrapper">
                        <video class="d-block w-100" autoplay muted loop>
                            <source src="{% static 'Videos/QuoteTransition.mp4' %}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

<div class="jumbotron">

    <!-- Doctor Search Section -->
    <div class="search-form">
        <div>
            <p class="search-heading">Check your availability here...</p>
        </div>

        <form action="/search" method="get" class="form-inline justify-content-center">

            <div class="form-group">
                <label for="doctor_name">Doctor name</label>
                <input type="text" class="form-control mr-sm-2" id="doctor_name" placeholder="Search Doctor Name" name="doctor_name">
            </div>
            <div class="form-group">
                <label for="specialization">Specialization</label>
                <select class="form-control mr-sm-2" id="specialization" name="specialization">
                    <option>Select Specialization</option>
                    <option>Cardiology</option>
                    <option>Dermatology</option>
                    <option>Neurology</option>
                    <option>Orthopedics</option>
                    <option>Pediatrics</option>
                    <option>Psychiatry</option>
                </select>
            </div>
            <div class="form-group">
                <label for="hospital">Hospital</label>
                <select class="form-control mr-sm-2" id="hospital" name="hospital">
                    <option>Select Hospital</option>
                     <option>Asiri Surgical Hospital, Colombo</option>
                    <option>Asiri Central Hospital, Colombo</option>
                    <option>Asiri Hospital, Matara</option>
                    <option>Lanka Hospitals, Colombo</option>
                    <option>Nawaloka Hospital, Colombo</option>
                    <option>Durdans Hospital, Colombo</option>
                    <option>Hemas Hospital, Wattala</option>
                    <option>Hemas Hospital, Thalawathugoda</option>
                    <option>Kings Hospital, Colombo</option>
                    <option>Golden Key Hospital, Rajagiriya</option>

                </select>
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control mr-sm-2" id="date" name="date">
            </div>
            <button type="submit" class="btn btn-outline-light my-2 my-sm-0">Check availability</button>
        </form>
    </div>
</div>



<div class="container">
    <h2 class="mt-4 featured-specialties">Featured Specialties</h2>
    <div class="row">
        <!-- Cardiology -->
        <div class="col-md-4">
            <div class="specialty-card">
                <img src="{% static 'images/cardiology.jpg' %}" alt="cardiology" class="specialty-image">
                <h3>Cardiology</h3>
                <p>"Heart health is at the core of what we do. Our expert cardiologists are dedicated to providing comprehensive care for all your cardiovascular needs. Trust us with your heart, and feel the difference in every beat."
</p>
                <a href="view-doctors.html?specialization=cardiology" class="view-link">Meet Your Heart Heroes</a>
            </div>
        </div>
        <!-- Dermatology -->
        <div class="col-md-4">
            <div class="specialty-card">
                <img src="{% static 'images/dermatology.jpg' %}" alt="dermatology" class="specialty-image">
                <h3>Dermatology</h3>
                <p>"Reveal your best skin with our dermatology specialists. From acne to complex skin conditions, our experts offer personalized care to keep your skin healthy and glowing. Embrace confidence with flawless skin."
</p>
                <a href="view-doctors.html?specialization=dermatology" class="view-link">Discover Skin Saviors</a>
            </div>
        </div>
        <!-- Neurology -->
        <div class="col-md-4">
            <div class="specialty-card">
                <img src="{% static 'images/neurology.jpg' %}" alt="neurology" class="specialty-image">
                <h3>Neurology</h3>
                <p>"Your brain and nervous system deserve the best care. Our neurologists are here to diagnose and treat a wide range of neurological disorders with precision and compassion. Experience a life in sync with your mind."
</p>
                <a href="view-doctors.html?specialization=neurology" class="view-link">Connect with Mind Masters</a>
            </div>
        </div>
        <!-- Orthopedics -->
        <div class="col-md-4">
            <div class="specialty-card">
                <img src="{% static 'images/orthopaedics.jpg' %}" alt="orthopaedics" class="specialty-image">
                <h3>Orthopedics</h3>
                <p>"Move freely and live actively with our orthopedic care. Whether it's a sports injury or chronic joint pain, our specialists are equipped to help you regain mobility and enjoy a pain-free life. Step into a future without limits."
</p>
                <a href="view-doctors.html?specialization=neurology" class="view-link">Find Mobility Maestros</a>
            </div>
        </div>
        <!-- Pediatrics -->
        <div class="col-md-4">
            <div class="specialty-card">
                <img src="{% static 'images/pediatrics.jpg' %}" alt="pediatrics" class="specialty-image">
                <h3>Pediatrics</h3>
                <p>"Nurturing the health of our little ones is our top priority. Our pediatricians provide comprehensive and compassionate care tailored to the unique needs of children, ensuring their growth and development in a safe and supportive environment."
</p>
                <a href="view-doctors.html?specialization=pediatrics" class="view-link">Explore Child Care Champions</a>
            </div>
        </div>
        <!-- Psychiatry -->
        <div class="col-md-4">
            <div class="specialty-card">
                <img src="{% static 'images/psychiatric.png' %}" alt="psychiatric" class="specialty-image">
                <h3>Psychiatry</h3>
                <p>"Mental well-being is crucial for a fulfilling life. Our psychiatrists offer empathetic and effective treatments for mental health conditions, helping you find balance and peace. Discover a brighter, healthier mindset with our support."</p>
                <a href="view-doctors.html?specialization=psychiatric" class="view-link">Consult Mental Health Mentors</a>
            </div>
        </div>
    </div>
</div>

<footer class="bg-primary text-white mt-5 py-5">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-4 text-center mb-4">
                <h4><B>Contact Us</B></h4>
                <ul class="list-unstyled">
                    <li><a href="tel:+94771234567" class="text-white">+94 77 123 45 67</a></li>
                    <li><a href="mailto:info@clinicmate.com" class="text-white">info@clinicmate.com</a></li>
                    <li>Clinic Mate Company, Colombo 07.</li>
                </ul>
            </div>
            <div class="col-md-4 text-center mb-4">
                <h4><B>Other</B></h4>
                <ul class="list-unstyled">
                    <li><a href="{% url 'terms_and_conditions' %}" class="text-white">Terms and Conditions</a></li>
                    <li><a href="/faq" class="text-white">FAQ</a></li>
                    <li><a href="/feedback" class="text-white">Feedback</a></li>
                    <li><a href="{% url 'privacy_policy' %}" class="text-white" >Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center mb-4">
                <h4><B>About</B></h4>
                <ul class="list-unstyled">
                    <li><a href="/aboutus" class="text-white">The Company</a></li>
                    <li><a href="/partners" class="text-white">Partners</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p class="mb-0">&copy; 2021 All Right Reserved</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
