<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors_Cardiology</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'Cardiology/styles.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
        <img src="{% static 'images/Logo.png' %}" alt="E-Channeling Logo">
    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link btn btn-primary text-white" href="{% url 'Cardiology' %}">Cardiology</a></li>
                <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>

            </ul>
        </div>
</nav>

    <div class="container">
        <h1>Cardiology</h1>
        <div class="doctor-card">
            <img src="{% static 'images/Dr.Gotabhaya.png' %}" alt="Dr.Gotabhaya" class="doctor-image">
            <div class="doctor-info">
                <h2>Dr. Gotabhaya Ranasinghe</h2>
                <p>MD, Cardiology</p>
            </div>
        </div>
        <div class="doctor-card">
            <img src="doctor2.jpg" alt="Doctor 2">
            <div class="doctor-info">
                <h2>Dr. John Doe</h2>
                <p>MD, Cardiology</p>
            </div>
        </div>
    </div>
</body>
</html>