body {
    font-family: 'Segoe UI Semibold', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* styles.css */
.navbar-brand img {
    height: 50px;
    width: auto; /* Maintain aspect ratio */
}

/* Navbar Styles */
.navbar {
    background-color: #ffffff;
    border-bottom: 2px solid #007bff;
    padding: 0.5rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-nav .btn-primary {
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.navbar-nav .btn-primary:hover {
    background-color: #0056b3;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #333;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

.doctor-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.doctor-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.doctor-image {
    border-radius: 8px 0 0 8px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}


.doctor-info {
    padding: 20px;
}

.doctor-info h2 {
    margin: 0;
    color: #007BFF;
}

.doctor-info p {
    margin: 5px 0 0;
    color: #555;
}
